<!-- Inherits from the page base.html -->
{% extends "base.html" %}
  <!-- Inheritance start -->
  {% block body %}
    <!-- Introduction text container -->
    <div id="intro-text">
      <p>
      HOW TO USE
      <br>
      <br>
      Press the pinpoint icon to get a description of your current surroundings based on your geolocation
      <br>
      <br>
      Press the camera icon to get a description of your current surroundings using your devices camera
      <br>
      <br>
      Press the file icon to get a description for an image stored on your device
      </p>
    </div>
  <!-- Inheritance end -->
  {% endblock %}