<!-- Inherits from the page base.html -->
{% extends "base.html" %}
  <!-- Inheritance start -->
  {% block body %}
    <!-- Test locations container -->
    <div id="test-locs">
      <p id="0">Location 1</p>
      <p id="1">Location 2</p>
      <p id="2">Location 3</p>
      <p id="3">Location 4</p>
      <p id="4">Location 5</p>
      <p id="5">Location 6</p>
      <p id="6">Location 7</p>
      <p id="7">Location 8</p>
      <p id="8">Location 9</p>
      <p id="9">Location 10</p>
      <p id="10">Location 11</p>
    </div>
    <!-- Scripts -->
    <script type='text/javascript' src='../static/scripts/testLocations.js'></script>
  <!-- Inheritance start -->
  {% endblock %}